target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans



### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.pdf

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


##日志文件##
*.log
*DS_Store

# 部署相关文件
.dockerignore
.kube/
.med/
*rebel.xml
.puml
